@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inconsolata&display=swap');
$purple: #6b569a;
$grey: #717677;
$black: #292a2d;
$fnt: 'Inconsolata', monospace;
$fnt2: 'Cormorant', serif;